.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #6a11cb;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;

  transition: transform 0.5s liner;
  box-shadow: 0 4px 8px #d1caa1;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-size: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.go-back-button {
  background: #6a11cb;
  color: white;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0px;
}
